[user]
	name = Erik Blessman
[pull]
	rebase = true
[rebase]
	autoStash = true
	autosquash = true
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[mergetool "vscode"]
	cmd = code --wait $MERGED
[core]
	editor = code --wait
	autocrlf = false
[alias]
	co = checkout
[push]
	autoSetupRemote = true
[submodule]
	recurse = true
[init]
	defaultBranch = main
